@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sen&display=swap');

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box !important;
}
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box !important;
}

body {
    margin: 0;
    padding: 0;
}

/* navbar design */
.navbar {
    background: #A6C3F2;
}

.navbar-brand {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 36px !important;
  line-height: 54px;
  color: #000000;
}

.nav-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #1E1E1E;
}

.nav-link:hover {
  color: #000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all .03s ease-in-out;
  transition: all .03s ease-in-out;
  background: #d9d9d9;
}


/* hero design */
.hero {
    margin: 0;
    padding: 0;
    height: 750px;
    display: flex;
    justify-content: center;
    align-self: center;
    /* background: #A6C3F2; */
}

.slider {
    width: 1150px;
    height: 750px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 750px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 1150px;
    transition: 2s;
}

.slide img {
    width: 1150px;
    height: 750px;
}

/* for manual slides navigation */
.navigation-manual {
    position: absolute;
    width: 1150px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 5px solid #A6C3F2;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #A6C3F2;
}


#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

/* css for automatic navigation */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 1150px;
    justify-content: center;
    margin-top: 700px;
}

.navigation-auto div {
    border: 5px solid #A6C3F2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #A6C3F2;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #A6C3F2;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #A6C3F2;
}


/* sale section design */
.sales_section {
    margin: 0;
    padding: 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
}

.sales {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 500px; */
}

.card a {
    /* border-radius: 500px; */
    text-decoration: none;
    background-color: #1E1E1E;
}

.card p {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
}

.sales div {
    border-radius: 50px;
}

.sales div:not(:last-child) {
    margin-right: 40px;
}

@media screen and (max-width: 1150px) {
    /* make things for tab */
}


/* trending section design */

.trending_section {
    margin: 50px 0 70px 0;
}

.scrolling-wrapper{
	overflow-x: auto;
}

h2{
    font-family: 'Poopins';
    font-size: normal;
    text-align: center;
	font-weight: 700;
	font-size: 3.4em;
}

.card-block{
	height: 300px;
	/* background-color: #fff; */
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
}

.card-block img {
    height: 299px;
    width: fill;
    border-radius: 4px;
}

.card-block:hover{
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
}

.trending_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1E1E1E;
    opacity: 0.6;
}

.product-info {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}

.product-name {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.current-price {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #E79393;
}

.previous-price {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #FFFFFF;
}

/* sale section */
.catagories_section {
    margin: 70px 0;
}

.categories_overlay {
    position: absolute;
    height: 75px;
    width: 100%;
    background-color: #1E1E1E;
    opacity: 0.6;
    margin-top: 225px;
    overflow: hidden;
}

.catagories_info {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.category_name {
    position: absolute;
    color: #fff;
    margin-top: 240px;
}

/* Promo Section Style */
.promo_section {
    /* background-color: #D6D6D7; */
    padding: 50px;
    margin: 75px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video {
    margin-right: 30px;
}

.video iframe {
    border-radius: 15px;
}

.description {
    margin-left: 30px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}


/* contect us design */
.contact {
    background: #1E1E1E;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    color: #fff;
  }

  .left {
    width: 50%;
    margin-left: 135px;
  }

.left h3 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}

.left p {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.right {
    width: 50%;
    margin-right: 135px;
  }

  .right p {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .right span {
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
  }

  .right span a {
    text-decoration: none;
    color: #fff;
  }

  .right span a:hover {
    color: #A6C3F2;
    transition: 1s;
  }

  /* footer design */
  .footer {
    background-color: #A6C3F2;
    color: #1E1E1E;
    text-align: center;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
  }

  .footer > p:nth-child(1) {
    margin-bottom: 0px !important;
   }
   